@font-face {
  font-family: 'Crimson Text';
  src: url('../assets/fonts/CrimsonText-Regular.ttf');
}
@font-face {
  font-family: 'Aniron';
  src: url('../assets/fonts/anirm___.ttf');
}
@font-face {
  font-family: 'Andada';
  src: url('../assets/fonts/AndadaSC-Regular.otf');
}

:root {
  /* --font-text: "Crimson Text", serif; */
  --font-crimson: 'Crimson Text';
  --font-aniron: 'Aniron';
  --font-andada: 'Andada';
}

.ilaris {
  /* font-family: var(--font-crimson); */
  /* background: url("../assets/images/background/Kasten_high_res.JPG"); /\*ersetzt so die Statusleiste!*\/ */
  /* background-image: url("../assets/images/background/Kasten_high_res.JPG"); */
  /* mix-blend-mode: multiply; */
}

.window-app .window-content {
  font-family: var(--font-crimson);
  /* TODO CR: Wegen Bild fragen */
  background-image: url('../assets/images/background/hintergrund.jpg');
}

.tabs {
  font-family: var(--font-andada);
}

.ilaris h2 {
  font-family: var(--font-aniron);
}

.button-icon {
  height: 3ex;
  border: none;
  display: inline-block;
  vertical-align: middle;
}
.button-icon-nahkampf {
  height: 4ex;
  border: none;
  /* display:inline-block; */
  display: block;
  /* vertical-align:middle; */
  margin-left: auto;
  margin-right: auto;
}
.chat-message {
  color: #000000;
  font-family: var(--font-crimson);
  /* TODO CR: Wegen Bild fragen */
  background-image: url('../assets/images/background/hintergrund.jpg');
}
.chat-message .message-header {
  color: #000000;
}

.chat-message .message-header .flavor-text {
  color: #000000;
}

.editor {
  height: 100% !important;
  width: 100%;
  overflow: auto;
}
.editor-content {
  min-height: 50px;
  min-height: 500px;
  min-width: 300px;
  height: 100% !important;
  width: 100%;
  overflow: auto;
  /*     font-weight: bold; */
}

.icon-small {
  flex-basis: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-fest-var {
  flex-grow: 0;
  flex-shrink: 0;
}

.item-toggle.false {
  /* color: #b5b3a4; */
  color: #989898;
}
.item-toggle.active {
  /* color: #4b4a44; */
  color: black;
}

.toggle-bool.false {
  /* color: #b5b3a4; */
  color: #989898;
}
.toggle-bool.active {
  /* color: #4b4a44; */
  color: #990000;
}

.onhover:hover {
  /* background-color: #b32019; */
  /* text-shadow: 0 0 8px #b32019; */
  text-shadow: 0 0 8px red;
}

.twokindrow div:nth-child(odd) {
  background: rgba(255, 255, 255, 0.2);
}

.kreatur-sheet input {
  border: none;
}

.ilaris .titel-input {
  font-size: 32px; 
  border: None; 
  color: rgb(83, 0, 0);
  font-family: var(--font-andada);
}

input.titel-input {
  font-size: 32px; 
  color: rgb(83, 0, 0);
  font-family: var(--font-andada);
}

.kreatur-sheet .plus-button {
  color: rgb(54, 37, 37);
  font-size: 18px;
}

.attributblock h2 {
  font-family: var(--font-aniron);
  font-size: 14px;
  color: rgb(54, 37, 37); /*rgb(83, 0, 0);*/
  border: none;
}


.kreatur-header textarea {
  border: none;
  resize: none;
  font-family: var(--font-crimson);
}

.statblockreihe {
  background-color: rgba(247, 68, 37, 0.13);
  padding: 10px;
  border-top: solid darkred 2px;
}

.statblockreihe input {
  width: 40px;
  height: 16px;
  background: rgba(250, 250, 250, 0.2);
}

/* Erste Gehversuche Michael*/

/* --------------------------------------- */
/*  Ilaris Sheet                           */
/* --------------------------------------- */
.ilaris {
  min-width: 360px;
  min-height: 320px;
}
.ilaris form > * {
  flex: 0;
}
.ilaris .form-group.description {
  flex: 1;
}
.ilaris .form-group.description label {
  height: 24px;
}
.ilaris .form-group.description textarea {
  height: calc(100% - 24px);
  resize: none;
}


.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
}