{{log 'angriff' this}}
<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{item.name}}" />
                    </h1>
                </div>
            </header>
        </div>
        <div class="flexrow">
            <label>Härte: 
                <input type="number" name="system.haerte" value="{{item.system.haerte}}" />
            </label>
            <label>Ladezeit: 
                <input type="number" name="system.lz" value="{{item.system.lz}}" />
            </label>
            <label>Reichweite: 
                <input type="number" name="system.rw" value="{{item.system.rw}}" />
            </label>
            <label>Attacke: 
                <input type="number" name="system.at" value="{{item.system.at}}" />
            </label>
            <label>Verteidigung: 
                <input type="number" name="system.vt" value="{{item.system.vt}}" />
            </label>
            <label>Trefferpunkte: 
                <input type="text" name="system.tp" value="{{item.system.tp}}" />
            </label>
        </div>
        <div>
            <b>Eigenschaften </b><a class="add-eigenschaft" data-itemclass="Neue Eigenschaft">[+]</a><b>: </b>
            {{#each item.system.eigenschaften as |eig key|}}
            <div class="flexrow">
            <div class="flex1">
                <input name="system.eigenschaften.{{key}}.name" type="text" value="{{eig.name}}" />
            </div>
            <div class="flex2">
                <input name="system.eigenschaften.{{key}}.text" type="text" value="{{eig.text}}" />
            </div>
            <div class="flex0">
                <a class="del-eigenschaft" data-eigenschaftid="{{key}}"><i class="fas fa-trash"></i></a>
            </div>
        </div>
            {{/each}}
        </div>
        <hr>
        <a class="item-delete" data-itemid="{{item._id}}">
            <button class="clickable" type="button">
                Löschen <i class="fas fa-trash"></i>
            </button>
        </a>
    </div>
</form>
