{{log 'freie fertigkeit' this}}
<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{item.name}}" />
                    </h1>
                </div>
            </header>
        </div>
        <div class="flexrow">
            <label><b>Stufe:</b></label>
            <select name="system.stufe">
                {{#select item.system.stufe}}
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label><b>Gruppe:</b></label>
            <select name="system.gruppe">
                {{#select item.system.gruppe}}
                <option value="0">Sprachen</option>
                <option value="1">Schriften</option>
                <option value="2">Berufe</option>
                <option value="3">Freizeit</option>
                <option value="4">Anderes</option>
                {{/select}}
            </select>
        </div>
        <div>
            <label><b>Beschreibung:</b></label>
            <textarea name="system.text">{{item.system.text}}</textarea>
        </div>
    </div>
</form>
