{{log 'freies talent' this}}
<form class="{{cssClass}}">
    <div class="flexrow">
        <div>
            <label>Freies Talent:</label>
            <input name="name" type="text" value="{{item.name}}" />
        </div><div>
            <label>Probenwert:</label>
            <input type="number" name="system.pw" value="{{item.system.pw}}"/>
        </div>
    </div>
    <hr>
    <div>
        <label>Löschen</label>
        <a class="item-delete" data-itemclass="freie_fertigkeit" data-itemid="{{item._id}}"
        ><i class="fas fa-trash"></i
        ></a>
    </div>
</form>
