{{log 'manoever' this}}
<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{item.name}}" />
                    </h1>
                </div>
            </header>
        </div>
        <div class="flexrow">
            <select name="system.gruppe">
                {{#select item.system.gruppe}} {{>
                systems/Ilaris/templates/helper/select_manoever.html}} {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label><b>Voraussetzung:</b></label>
            <input
                name="system.voraussetzung"
                value="{{item.system.voraussetzung}}"
                type="text"
                data-dtype="String"
            />
        </div>
        <div class="flexrow">
            <label><b>Probe:</b></label>
            <input name="system.probe" value="{{item.system.probe}}" type="text" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label><b>Gegenprobe:</b></label>
            <input
                name="system.gegenprobe"
                value="{{item.system.gegenprobe}}"
                type="text"
                data-dtype="String"
            />
        </div>
        <div>
            <label><b>Beschreibung:</b></label>
            <textarea rows="8" name="system.text">{{item.system.text}}</textarea>
        </div>
    </div>
</form>
