{{log 'ue talent' this}}
<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{item.name}}" />
                    </h1>
                </div>
            </header>
        </div>

        {{#if hasOwner}}
        <label>Fertigkeit:</label>
        <select name="system.fertigkeit_ausgewaehlt">
            {{#select item.system.fertigkeit_ausgewaehlt}}
            <option value="auto">auto</option>
            {{#each fertigkeit_list as |fert key|}}
            <option value="{{fert}}">{{fert}}</option>
            {{/each}} {{/select}}
        </select>
        {{/if}}
        <div>
            <div class="flexrow">
                <label>Mächtig: </label>
                <textarea rows="10" name="system.maechtig">{{item.system.maechtig}}</textarea>
            </div>
            <div class="flexrow">
                <label>Schwierigkeit: </label>
                <input
                    name="system.schwierigkeit"
                    value="{{item.system.schwierigkeit}}"
                    type="text"
                    data-dtype="String"
                />
            </div>
            <div class="flexrow">
                <label>Modifikationen: </label>
                <textarea name="system.modifikationen">{{item.system.modifikationen}}</textarea>
            </div>
            <div class="flexrow">
                <label>Vorbereitung: </label>
                <input
                    name="system.vorbereitung"
                    value="{{item.system.vorbereitung}}"
                    type="text"
                    data-dtype="String"
                />
            </div>
            <div class="flexrow">
                <label>Ziel: </label>
                <input
                    name="system.ziel"
                    value="{{item.system.ziel}}"
                    type="text"
                    data-dtype="String"
                />
            </div>
            <div class="flexrow">
                <label>Reichweite: </label>
                <input
                    name="system.reichweite"
                    value="{{item.system.reichweite}}"
                    type="text"
                    data-dtype="String"
                />
            </div>
            <div class="flexrow">
                <label>Wirkungsdauer: </label>
                <input
                    name="system.wirkungsdauer"
                    value="{{item.system.wirkungsdauer}}"
                    type="text"
                    data-dtype="String"
                />
            </div>
            <div class="flexrow">
                <label>Kosten: </label>
                <input
                    name="system.kosten"
                    value="{{item.system.kosten}}"
                    type="text"
                    data-dtype="String"
                />
            </div>
            <div class="flexrow">
                <label>Fertigkeiten: </label>
                <input
                    name="system.fertigkeiten"
                    value="{{item.system.fertigkeiten}}"
                    type="text"
                    data-dtype="String"
                />
            </div>
            <div class="flexrow">
                <label>Erlernen: </label>
                <input
                    name="system.erlernen"
                    value="{{item.system.erlernen}}"
                    type="text"
                    data-dtype="String"
                />
            </div>
            <label>Beschreibung: </label>
            <textarea name="system.text">{{item.system.text}}</textarea>
        </div>
    </div>
    <div>
        <label>Löschen</label>
        <a class="item-delete" data-itemclass="freie_fertigkeit" data-itemid="{{item._id}}"
        ><i class="fas fa-trash"></i
        ></a>
    </div>
</form>
