<form class="{{cssClass}}" autocomplete="off">
    <section class="dw-chat-card>
    <div class="cell cell--chat">
        <h2 class="cell__title">{{title}}</h2>
        {{#if crit}}
        <h3 class="roll_crit"><strong>Triumph</strong></h3>
        {{/if}} {{#if fumble}}
        <h3 class="roll_fumble"><strong>Patzer</strong></h3>
        {{/if}} {{#if trigger}}
        <div class="row"><strong>Trigger:</strong> {{trigger}}</div>
        {{/if}} {{#if details}}
        <div class="row">{{{details}}}</div>
        {{/if}}
    </div>
</form>
