<div>
    <label>Anzahl W20: </label>
    <label>{{radioBoxes "xd20" choices_xd20 checked=checked_xd20}}</label>
</div>
<div>
    <label>Schips: </label>
    <label>{{radioBoxes "schips" choices_schips checked=checked_schips}}</label>
</div>
<hr />
<div class="flexrow">
    <label for="hohequalitaet">Hohe Qualität: </label>
    <input id="hohequalitaet" type="number" value="" data-dtype="Number" />
</div>
<div class="flexrow">
    <label for="modifikator">Modifikator: </label>
    <input id="modifikator" type="number" value="" data-dtype="Number" />
</div>
<hr />
<div class="flexrow">
    <label>Würfelmodus: </label>
    <select id="rollMode">
        {{selectOptions rollModes selected=defaultRollMode localize=true}}
    </select>
</div>
